@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    David Piggott<br />
    Georgian College Student<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:100121117@student.georgianc.on.ca">100121117@student.georgianc.on.ca</a><br />
</address>