@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Courses!</h1>
    <p class="lead">Welcome to the Course Catalog!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started:</h2>
        <p>
            Get started by viewing the course catalog.
        </p>
        <p class="btn btn-primary">@Html.ActionLink("Classes", "Index", "Tables")</p>
    </div>
    <div class="col-md-4">
        <h2>GitHub:</h2>
        <p>View the project code on GitHub!</p>
        <p><a class="btn btn-primary" target="_blank" href="https://github.com/mcmax3000/COMP3026MidTerm">GitHub</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact:</h2>
        <p>Contact the creator:</p>
        <p class="btn btn-primary">@Html.ActionLink("Contact", "Contact", "Home")</p>
    </div>
</div>